

/* ===============注册================ */
.public .public_btn{
	position: relative;
	margin-top: 100px !important;
}
.public .public_btn a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}








